*.backup
*.bak
*.ps
*.pdf
*.aux
*.log
*.toc
*.nav
*.out
*.snm
*.vrb
*~
*.dvi
*.swp
*.xml
*.synctex.gz
*.run.xml
*-blx.bib
*.bbl
*.blg
*DS_Store
draft/pairing-ratchet.org
draft/protocol.tex
auto/
*.mtc*
*.maf
*.lof